.app {
  background-image: url("images/background.jpg");
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

   
}

.game {
  height: 560px;
  width: 560px;
  background-color: rgba(248, 187, 208, 0.5);
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26) inset, 0 1px 0 #fff0;
  color: #85796b; 
}
.game img {
  height: 70px;
      width: 70px;
      text-align: center;
      line-height: 2;
      color: #fff;
      cursor: pointer; 
}
